


body{
    background-color: rgb(230, 224, 224);
}
.card{
    background-color: rgb(1, 33, 41);
    color: white;
}
.card-header h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,.7);
   height: 100vh;
   width: 100%;
}
.fa-2x{
    cursor: pointer;
    transition: .3;
}
.fa-2x:hover{
    transform: scale(1.2);
}

.bgcolor .card{
    border: 5px solid black;
}